@using Utility.Methods


@*Common klasörünün içerisinde "OSECodeControl" altında kendi kontrolümüzü bir başka şekilde ekledik*@


@helper myButton(string id = "", string type = "submit", string text = "", Enumeration.enum_myButtonType color = Enumeration.enum_myButtonType.PRIMARY, string additionalClass = "", string icon = "")
{
	string ColorText = "primary";
	switch (color)
	{
		case Enumeration.enum_myButtonType.PRIMARY:
			ColorText = "primary";
			break;
		case Enumeration.enum_myButtonType.DANGER:
			ColorText = "danger";
			break;
		case Enumeration.enum_myButtonType.DEFAULT:
			ColorText = "default";
			break;
		case Enumeration.enum_myButtonType.INFO:
			ColorText = "info";
			break;
		case Enumeration.enum_myButtonType.SECONDARY:
			ColorText = "secondary";
			break;
		case Enumeration.enum_myButtonType.SUCCESS:
			ColorText = "success";
			break;
		case Enumeration.enum_myButtonType.WARNING:
			ColorText = "warning";
			break;
	}
	<button class="btn btn-@ColorText my-4 @additionalClass" id="@id" name="@id" type="@type">
		@if (icon != "")
		{
			<i class="@icon"></i>
		}
		@text
	</button>
}




@helper myFileUpload(string id = "fl1", string Title = "Yeni Resim Yükle")
{
	<span class="btn btn-default ">
		@*//btn-file*@
		<i class="ni ni-cloud-upload-96"></i> @Title <input type="file" id="@id" name="@id" />
	</span>
}
