@using Utility.Methods

 

@helper myButton(string id = "", string type = "submit", string text = "", Enumeration.myButtonType color = Enumeration.myButtonType.PRIMARY, string additionalClass = "", string icon = "")
{
	string ColorText = "primary";
	switch (color)
	{
		case Enumeration.myButtonType.PRIMARY:
			ColorText = "primary";
			break;
		case Enumeration.myButtonType.DANGER:
			ColorText = "danger";
			break;
		case Enumeration.myButtonType.DEFAULT:
			ColorText = "default";
			break;
		case Enumeration.myButtonType.INFO:
			ColorText = "info";
			break;
		case Enumeration.myButtonType.SECONDARY:
			ColorText = "secondary";
			break;
		case Enumeration.myButtonType.SUCCESS:
			ColorText = "success";
			break;
		case Enumeration.myButtonType.WARNING:
			ColorText = "warning";
			break;
	}
	<button class="btn btn-@ColorText my-4 @additionalClass" id="@id" name="@id" type="@type">
		@if (icon != "")
		{
			<i class="@icon"></i>
		}
		@text
	</button>
}