@using Utility.Methods
@using WebApplication.Common
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<!-- meta data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!--font-family-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

	<!-- title of site -->
	<title>@ViewBag.Title</title>
	<!-- For favicon png -->
	<link rel="shortcut icon" type="image/icon" href="/theme/assets/logo/favicon.png" />

	<!--font-awesome.min.css-->
	<link rel="stylesheet" href="/theme/assets/css/font-awesome.min.css">
	<!--linear icon css-->
	<link rel="stylesheet" href="/theme/assets/css/linearicons.css">
	<!--animate.css-->
	<link rel="stylesheet" href="/theme/assets/css/animate.css">
	<!--owl.carousel.css-->
	<link rel="stylesheet" href="/theme/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/theme/assets/css/owl.theme.default.min.css">

	<!--bootstrap.min.css-->
	<link rel="stylesheet" href="/theme/assets/css/bootstrap.min.css">

	<!-- bootsnav -->
	<link rel="stylesheet" href="/theme/assets/css/bootsnav.css">

	<!--style.css-->
	<link rel="stylesheet" href="/theme/assets/css/style.css">

	<link href="/DesingComponent/CustomCSS.css" rel="stylesheet" />

	<!--responsive.css-->
	<link rel="stylesheet" href="/theme/assets/css/responsive.css">

	<link href="/DesingComponent/customConfirm/jquery-confirm.css" rel="stylesheet" />
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
 
	 
	<header id="home" class="">

		 
		<div class="top-area">
			<div class="header-area">

				 
				<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
				 
					<div class="container">
						 
						<div class="attr-nav">
							<ul>

								<li class="nav-setting">
									<a href="@ConfigManager.AdminDirectory"><span class="lnr lnr-cog"></span></a>
								</li> 
								<li class="dropdown">
									 
									@Html.Partial("_partialBasketCount")

								</li>
							</ul>
						</div>
						 
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
								<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand" href="/Home/Index">MCC-WEB</a>
						</div> 
						<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
							<ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
								<li class="scroll active"><a href="/Home/Index">Anasayfa</a></li>
								<li class="scroll"><a href="/Product/ProductList">Ürünler</a></li>
							 
							</ul>
						</div>
						<div class="alert alert-warning text-center" role="alert" style="display: none;z-index:2000;" id="GeneralLoader">
							Lütfen bekleyiniz, işlem yapılıyor...
						</div>
					</div>
				</nav>
				

			</div>
			<div class="clearfix"></div>
		</div>
		
	</header>
	
	
	@RenderBody()
	
	<section id="clients" class="clients">
		<div class="container">
			<div class="owl-carousel owl-theme" id="client">
				<div class="item">
					<a href="#">
						<img src="/theme/assets/images/clients/c1.png" alt="brand-image" />
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="/theme/assets/images/clients/c2.png" alt="brand-image" />
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="/theme/assets/images/clients/c3.png" alt="brand-image" />
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="/theme/assets/images/clients/c4.png" alt="brand-image" />
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="/theme/assets/images/clients/c5.png" alt="brand-image" />
					</a>
				</div>
			</div>
		</div>
	</section>
	
	
	<section id="newsletter" class="newsletter">
		<div class="container">
			<div class="hm-footer-details">
				<div class="row">
					<div class=" col-md-3 col-sm-6 col-xs-12">
						<div class="hm-footer-widget">
							<div class="hm-foot-title">
								<h4>Bilgi</h4>
							</div>
							<div class="hm-foot-menu">
								<ul>
									<li><a href="#">Hakkımızda</a></li>
									<li><a href="#">İletişim</a></li>
									<li><a href="#">Haberler</a></li>
									<li><a href="#">Mağaza</a></li>
								</ul> 
							</div> 
						</div> 
					</div >
					<div class=" col-md-3 col-sm-6 col-xs-12">
						<div class="hm-footer-widget">
							<div class="hm-foot-title">
								<h4>Bilgi</h4>
							</div>
							<div class="hm-foot-menu">
								<ul>
									<li><a href="#">Hakkımızda</a></li>
									<li><a href="#">İletişim</a></li>
									<li><a href="#">Haberler</a></li>
									<li><a href="#">Mağaza</a></li>
								</ul>
							</div>
						</div>
					</div><div class=" col-md-3 col-sm-6 col-xs-12">
	<div class="hm-footer-widget">
		<div class="hm-foot-title">
			<h4>Bilgi</h4>
		</div>
		<div class="hm-foot-menu">
			<ul>
				<li><a href="#">Hakkımızda</a></li>
				<li><a href="#">İletişim</a></li>
				<li><a href="#">Haberler</a></li>
				<li><a href="#">Mağaza</a></li>
			</ul>
		</div>
	</div>
</div><div class=" col-md-3 col-sm-6 col-xs-12">
	<div class="hm-footer-widget">
		<div class="hm-foot-title">
			<h4>Bilgi</h4>
		</div>
		<div class="hm-foot-menu">
			<ul>
				<li><a href="#">Hakkımızda</a></li>
				<li><a href="#">İletişim</a></li>
				<li><a href="#">Haberler</a></li>
				<li><a href="#">Mağaza</a></li>
			</ul>
		</div>
	</div>
</div>
				</div> 
			</div> 
		</div> 
	</section> 
	 
	<footer id="footer" class="footer">
		<div class="container">
			<div class="hm-footer-copyright text-center">
				<div class="footer-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-pinterest"></i></a>
					<a href="#"><i class="fa fa-behance"></i></a>
				</div>
				 
			</div> 

		</div> 
		<div id="scroll-Top">
			<div class="return-to-top">
				<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
			</div>

		</div>

	</footer>
	 
 
	<script src="/theme/assets/js/jquery.js"></script>

	<!--modernizr.min.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	<!--bootstrap.min.js-->
	<script src="/theme/assets/js/bootstrap.min.js"></script>

	<!-- bootsnav js -->
	<script src="/theme/assets/js/bootsnav.js"></script>
	<!--owl.carousel.js-->
	<script src="/theme/assets/js/owl.carousel.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


	<!--Custom JS-->
	<script src="/theme/assets/js/custom.js"></script>

	<script src="/DesingComponent/CustomJS.js"></script>

	<script src="/DesingComponent/customConfirm/jquery-confirm.js"></script>

	<script src="/DesingComponent/GeneralBasket.js"></script>


	@RenderSection("FooterBottom", false)
</body>

</html>